body {
     font-family: 'Noto sans TC', sans-serif;

}
	 
	 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, h6 {
	     font-family: 'Noto Sana TC', sans-serif;
		 text-transform: capitalize;
	 }
	 
	 .subheading {
		 font-family: 'Noto Sana TC', sans-serif;
		 font-size: 1.2rem;
		 font-weight: normal;
	 }
	 
	 h1, h2, h3, h4, h5, h6, .subheading {
		 text-transform: none;
	 }
	 
	 h1, .h1 {
		  font-size: 5rem;
	  }
	  
	p.lead{
		font-size: 1.2rem;
	}
	 
	 
	 .bg-primary {
		 background-color: #eb9d00
         background-image: background-color: #eb9d00;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	 }
	 
	 .text-primary {
		 color: #eb9d00
	 }
	 
	 a {
		 color: #eb9d00
	 }
	 